{% extends 'base.html' %}

{% block content %}
  <nav class="navbar navbar-expand-md">

    <div class="container">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ">

    
        </ul>
      </div>
    </div>
  </nav>

  <div class="hero">
   
    <h2> Bienvenue Dans Notre Monde Magique:) </h2>
  
  </div>

  <div class="medium">
    <div class="container">
      <div class="row  ">
        <div class="col-12 col-md-6">
  <img src="/static/photo/photo9.jpg" alt="ballet jeunesse " class="card-img-top">
        </div>
        <div class="col-12 col-md-6">
          <p class="image">Danseuse de ballet

Toucher chaque fibre de votre être.
La musique envahit ton âme
Pendant que ton corps se laisse posséder
De cette belle balançoire calme.

Danse élégante et belle
En pointes et beaux tutus
Avec ton art tu fais vibrer
Dans des mouvements dangereux
Symphonie d'émotions agréables
Transmettez votre cadeau spécial
Au rythme des chansons
Et comme poupée boîte à musique
Tu te rends, tu danses et danses sans t'arrêter
Être votre grand rêve vital.
            <br> <br>
            L'origine du ballet
Le mot 'ballet' vient de France et se traduit par danser. Il a commencé au 17ème siècle comme passe-temps pour les nobles ; les danseurs se rendaient dans les cours italiennes et françaises pour se produire devant les rois et les classes les plus aisées. Son évolution et sa spécialisation ont fait qu'il existe aujourd'hui, à un niveau général,quatre styles de ballet : romantique, classique, moderne et Diaghilev.
          </p>
<a href="" class="btn btn-primary">C'est par ici</a>
        </div>
      </div>
    </div>
  </div>


  <div class="espace"></div>
  <div class="container">
    <div class="row">


      <div class="col-12 col-md-4">
        <img src="/static/photo/photo5.jpeg" alt="ballet jeunesse " class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Ballet Romantico</h5>
          <p class="card-text">Le rôle titre de ce ballet romantique était une créature surnaturelle interprétée par Maria Taglioni. Elle est considérée comme la pionnière du jeu de jambes en pointe, des chaussures de pointe et du tutu. Ces trois éléments ont été utilisés pour mettre en évidence les caractéristiques surnaturelles du personnage. C'est à cette époque que la danseuse devient plus importante, laissant les danseurs masculins au second plan. La sylphide a inspiré de nombreux changements dans les ballets de l'époque, tant dans le sujet des histoires que dans l'interprétation, la technique, les costumes et les décors. Cette œuvre a inauguré la période du ballet romantique.

</p>

          <a href="" class="btn btn-primary">C'est par ici</a>
        </div>
      </div>


      <div class="col-12 col-md-4">
        <img src="/static/photo/photo6.jpeg" alt="Ballet moderno. " class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Ballet clasico!</h5>
          <p class="card-text">Le ballet classique ou danse classique est une forme de danse dont les mouvements sont basés sur un contrôle total et absolu du corps, qui doit être enseigné dès le plus jeune âge. Il est recommandé de commencer à étudier cette danse classique à l'âge de six ou sept ans, car le ballet est une discipline qui exige de la concentration et une capacité d'effort comme attitude et comme mode de vie.

Contrairement à d'autres danses, en ballet, chaque pas est codifié. Invariablement, les mains, les bras, le tronc, la tête, les pieds, les genoux, le corps entier sont impliqués dans une conjonction simultanée de dynamiques musculaires et mentales qui doivent s'exprimer dans une harmonie totale du mouvement.
</p>

          <a href="" class="btn btn-primary">C'est par ici</a>
        </div>
      </div>


      <div class="col-12 col-md-4">
        <img src="/static/photo/photo8.jpeg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Ballet Moderno!</h5>
          <p class="card-text">La danse moderne est un genre de danse qui repose sur l'interprétation et la vision individuelles du danseur ou du chorégraphe. Ses mouvements sont une expression libre et fluide d'états, d'émotions, de métaphores ou d'idées abstraites. Elle ne suit pas des étapes ou des mouvements pré-structurés.

Contrairement à la danse classique - dont les mouvements sont aériens et élevés - la danse moderne a un langage corporel organique. Ses mouvements sont ancrés dans la terre, se balancent selon les principes anatomiques du corps et cherchent à exprimer la vérité du créateur.

Les bienfaits de la danse contemporaine pour améliorer le bien-être sont extraordinaires. Les cours de danse contemporaine aident à améliorer la vie, physiquement, émotionnellement et mentalement.</p>

          <a href="" class="btn btn-primary">C'est par ici</a>
          
        </div>
      </div>
    </div>
  </div>
  </div>

</div>

  <div class="medium">
    <div class="container">
      <div class="row  ">
        <div class="col-12 col-md-6">

          <img src="/static/photo/photo7.jpeg" class="img-responsive" width="100%">
        </div>
        <div class="col-12 col-md-6">
          <p class="image">Danseuse de ballet

Toucher chaque fibre de votre être.
La musique envahit ton âme
Pendant que ton corps se laisse posséder
De cette belle balançoire calme.

Danse élégante et belle
En pointes et beaux tutus
Avec ton art tu fais vibrer
Dans des mouvements dangereux
Symphonie d'émotions agréables
Transmettez votre cadeau spécial
Au rythme des chansons
Et comme poupée boîte à musique
Tu te rends, tu danses et danses sans t'arrêter
Être votre grand rêve vital.
            <br> <br>
            
          </p>
<a href="" class="btn btn-primary">C'est par ici</a>
        </div>
      </div>
    </div>
  </div>


  <div class="espace"></div>
  <div class="container">
    <div class="row">


      <div class="col-12 col-md-4">
        <img src="/static/photo/photo2.jpeg" alt="ballet jeunesse " class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">ballet d'enfants</h5>
          <p class="card-text">Considéré comme un art de la scène, le ballet exige une grande concentration sur le plan psychologique, ainsi que de la souplesse, de la coordination et un rythme musical sur le plan physique. C'est pourquoi il est recommandé de pratiquer cette discipline dès le plus jeune âge, à partir de 3 ou 4 ans, moment où l'appareil locomoteur de l'enfant peut assimiler et intérioriser plus facilement et avec plus de facilité les mouvements et les techniques de la danse.
            ipsa voluptatem vel?</p>

          <a href="" class="btn btn-primary">C'est par ici</a>
        </div>
      </div>


      <div class="col-12 col-md-4">
        <img src="/static/photo/photo3.jpeg" alt="Ballet moderno. " class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">ballet mixto!</h5>
          <p class="card-text">Le ballet, qui à ses débuts était fait pour les hommes, est aujourd'hui plutôt destiné aux filles, excluant les garçons ou les jeunes du ballet en raison de la féminisation et des préjugés machistes. Il est incroyable que non seulement les pères s'opposent à ce qu'un garçon ou une jeune fille fasse du ballet, mais que les mères s'y opposent aussi à cause de "ce qu'ils vont dire" et parce qu'il y a des mères sexistes qui pensent que si leur fils fait du ballet, il peut se féminiser.
          </p>

          <a href="" class="btn btn-primary">C'est par ici</a>
        </div>
      </div>


      <div class="col-12 col-md-4">
        <img src="/static/photo/photo4.jpeg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Ballet pour les jeunes</h5>
          <p class="card-text">L'un des points importants du ballet est qu'il est la base de nombreuses autres danses. Il est donc toujours intéressant pour les futurs danseurs de connaître les bases de la danse classique ainsi que son histoire. Ceci est vrai quelle que soit la branche dans laquelle la personne souhaite se spécialiser. Le fait est que le ballet, en raison de la complexité de ses pas, est une excellente base sur laquelle les techniques de danse moderne ont été construites. 
            </p>

          <a href="" class="btn btn-primary">C'est par ici</a>
          
        </div>
      </div>
    </div>
  </div>
  </div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/EhN4_vSPyaI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/YPbW2HpYGDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Fn1ZVGp0plc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
{% endblock %}